In [42]:
import os
import glob
import numpy as np
import pandas as pd

In [170]:
path = 'C:\\Users\\user\\Untitled Folder 3\\data\\may09'

# Check current working directory.
retval = os.getcwd()
print("Current working directory %s" % retval)

# Now change the directory
os.chdir(path)

# Check current working directory.
retval = os.getcwd()

print("Directory changed successfully %s" % retval)

Current working directory C:\Users\user\Untitled Folder 3\data\may15
Directory changed successfully C:\Users\user\Untitled Folder 3\data\may09

In [171]:
#Use glob to match the pattern ‘csv’
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [172]:
#combine all files in the list
df_tweets = pd.concat([pd.read_csv(f) for f in all_filenames ])

In [173]:
df_tweets.head()

,Tweet Coordinates,text,date,id,user,Place Info,location,Geo Enabled,retweet,likes,lang,keyword
0,NaN,RT @FaheemYounus: To “the vaccine have side ef...,2021-05-09 18:20:37,1.391458e+18,thischeena,NaN,NaN,True,2549.0,0.0,en,vaccine
1,NaN,@_AfricanSoil From my own observation\nI don't...,2021-05-09 18:20:37,1.391458e+18,mokwenalebogan3,NaN,"Pretoria, South Africa",False,0.0,0.0,en,vaccine
2,NaN,RT @nowthisnews: ‘Grow the f*ck up and get the...,2021-05-09 18:20:37,1.391458e+18,rewir8rh83,NaN,"ÜT: 37.678799,-120.987029",True,864.0,0.0,en,vaccine
3,NaN,RT @vivekagnihotri: Whoever I speak to abroad ...,2021-05-09 18:20:37,1.391458e+18,monambuj,NaN,NaN,False,1950.0,0.0,en,vaccine
4,NaN,RT @MinhazMerchant: Kejriwal must rank as the ...,2021-05-09 18:20:36,1.391458e+18,Md_Ayesha_,NaN,"Dubai, United Arab Emirates",False,354.0,0.0,en,vaccine

In [174]:
df_tweets['date'] = df_tweets['date'].astype('datetime64')
# Check for earliest and latest tweet
print("Earliest tweet: ", df_tweets['date'].min())
print("Latest tweet: ", df_tweets['date'].max(), '\n')

Earliest tweet:  2021-05-09 14:50:00
Latest tweet:  2021-05-09 18:20:37

In [175]:
df_tweets.shape

(17072, 12)

In [176]:
df_tweets.duplicated(subset=['text']).sum()

11330

In [177]:
df_total_tweets=df_tweets.drop_duplicates(subset=['text'])

In [178]:
df_total_tweets.shape

(5742, 12)

In [179]:
#searching for tweets with 'giveaways'
new_df = df_total_tweets[~df_total_tweets['text'].str.contains('giveaway', na=False)]
new_df.head()

,Tweet Coordinates,text,date,id,user,Place Info,location,Geo Enabled,retweet,likes,lang,keyword
0,NaN,RT @FaheemYounus: To “the vaccine have side ef...,2021-05-09 18:20:37,1.391458e+18,thischeena,NaN,NaN,True,2549.0,0.0,en,vaccine
1,NaN,@_AfricanSoil From my own observation\nI don't...,2021-05-09 18:20:37,1.391458e+18,mokwenalebogan3,NaN,"Pretoria, South Africa",False,0.0,0.0,en,vaccine
2,NaN,RT @nowthisnews: ‘Grow the f*ck up and get the...,2021-05-09 18:20:37,1.391458e+18,rewir8rh83,NaN,"ÜT: 37.678799,-120.987029",True,864.0,0.0,en,vaccine
3,NaN,RT @vivekagnihotri: Whoever I speak to abroad ...,2021-05-09 18:20:37,1.391458e+18,monambuj,NaN,NaN,False,1950.0,0.0,en,vaccine
4,NaN,RT @MinhazMerchant: Kejriwal must rank as the ...,2021-05-09 18:20:36,1.391458e+18,Md_Ayesha_,NaN,"Dubai, United Arab Emirates",False,354.0,0.0,en,vaccine

In [180]:
new_df.shape

(5742, 12)

In [181]:
new_df=new_df.drop(['Tweet Coordinates','id','lang', 'Geo Enabled','Place Info','retweet','likes'], axis = 1)

In [182]:
new_df.shape

(5742, 5)

In [183]:
vaccine= new_df[new_df['keyword']== 'vaccine']
lockdown= new_df[new_df['keyword']== 'lockdown']
covidtest= new_df[new_df['keyword']== 'covid test']
corona= new_df[new_df['keyword']== 'corona virus']
covid19= new_df[new_df['keyword']== 'covid-19']
pandemic= new_df[new_df['keyword']== 'pandemic']

In [184]:
print(f'total no of corona virus tweets:' ,len(corona) )
print(f'total no of covid-19 tweets:' ,len(covid19) )
print(f'total no of pandemic tweets:' ,len(pandemic) )
print(f'total no of lockdown tweets:' ,len(lockdown) )
print(f'total no of vaccine tweets:' ,len(vaccine) )
print(f'total no of covid test tweets:' ,len(covidtest) )

total no of corona virus tweets: 410
total no of covid-19 tweets: 779
total no of pandemic tweets: 1196
total no of lockdown tweets: 1335
total no of vaccine tweets: 1120
total no of covid test tweets: 902

In [169]:
new_df.to_csv (r'may15totaltweets.csv', index = False, header=True)